// COMMON STYLESHEET | Declare common styles(using css vars) not covered by css framework.

:root {
  //  - font sizes
  --font-xsmall: 14px;
  --font-small: 16px;
  --font-medium: 18px;
  --font-large: 20px;
  --font-xlarge: 22px;
}
