@import "@aposin/ng-aquila/styles/theming";

$archivemybeer-theme: (
    // GENERAL
    ui-background: #222,
    ui-02: #1a1a1a,
    ui-03: #3a3939,
    ui-04: #92a892,
    ui-05: #00000024,
    text-01: #dbdbdb,
    text-02: #0c0c0c,
    hover-primary: #2222227a,
    active-primary: #2222227a,

    // HEADER
    header-background-color: var(--ui-02),
    header-border-color: var(--text-01),

    // LINK
    interactive-text: var(--text-01),
    hover-link: var(--text-01),
    // active-primary: #92a892,

    // CARD
    card-border-color: var(--text-01),
    card-background-color: var(--ui-02),

    // TOOLTIP
    tooltip-background-color: var(--ui-04),
    tooltip-text-color: var(--text-02),

    // BUTTON
    button-primary-background-color: var(--ui-04),
    button-primary-hover-background-color: #92a892c5,
    button-secondary-hover-text-color: var(--text-01),
    button-secondary-border-color: var(--ui-04),
    button-secondary-hover-border-color: var(--ui-04),
    button-small-icon-size: var(--font-small),
    button-medium-icon-size: var(--font-medium),
    button-large-icon-size: var(--font-large),

    // TOOLBAR
    toolbar-background: var(--ui-05),

    // FORM FIELD
    formfield-outline-border-width: 2px,
    formfield-outline-control-height: 50px,
    formfield-outline-border-color: var(--ui-04),
    formfield-outline-background-color: var(--ui-05),
);

$nx-themes: nx-register-theme($archivemybeer-theme, archivemybeer-theme);