<content-loader
    primaryColor="#8296b5"
    width="1250"
    [height]="columns === 3 || columns === 4 ? 1000 : (columns === 2 ? 1200 : 2300)">
    <ng-container [ngSwitch]="columns">
      <ng-container *ngSwitchCase="1">
        <ng-container *ngFor="let yCtx of [0, 1200]">
          <ng-container *ngTemplateOutlet="columns_1; context:{ y: yCtx }"></ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <ng-container *ngFor="let yCtx of [0, 600]">
          <ng-container *ngFor="let xCtx of [0, 600]">
            <ng-container *ngTemplateOutlet="columns_2; context:{ x: xCtx, y: yCtx }"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <ng-container *ngFor="let yCtx of [0, 500]">
          <ng-container *ngFor="let xCtx of [0, 400, 800]">
            <ng-container *ngTemplateOutlet="columns_3_4; context:{ x: xCtx, y: yCtx, w: 100 }"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngFor="let yCtx of [0, 500]">
          <ng-container *ngFor="let xCtx of [0, 300, 600, 900]">
            <ng-container *ngTemplateOutlet="columns_3_4; context:{ x: xCtx, y: yCtx, w: 0 }"></ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
</content-loader>

<!-- 4 Columns -->
<ng-template #columns_3_4 let-x="x" let-y="y" let-w="w">
  <svg:rect [attr.x]="calcPosition(30, x)" [attr.y]="calcPosition(8, y)" width="8" height="450" />
  <svg:rect [attr.x]="calcPosition(36, x)" [attr.y]="calcPosition(8, y)" [attr.width]="calcPosition(266, w)" height="8" />
  <svg:rect [attr.x]="calcPosition(36, x)" [attr.y]="calcPosition(450, y)" [attr.width]="calcPosition(266, w)" height="8" />
  <svg:rect [attr.x]="calcPosition((300 + w), x)" [attr.y]="calcPosition(8, y)" width="8" height="450" />
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(35, y)" [attr.width]="calcPosition(200, w)" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(55, y)" [attr.width]="calcPosition(150, w)" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(85, y)" [attr.width]="calcPosition(225, w)" height="200"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(310, y)" [attr.width]="calcPosition(180, w)" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(350, y)" [attr.width]="calcPosition(130, w)" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(370, y)" [attr.width]="calcPosition(130, w)" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(390, y)" [attr.width]="calcPosition(130, w)" height="8"/>
</ng-template>

<ng-template #columns_2 let-x="x" let-y="y">
  <svg:rect [attr.x]="calcPosition(30, x)" [attr.y]="calcPosition(8, y)" width="8" height="550" />
  <svg:rect [attr.x]="calcPosition(36, x)" [attr.y]="calcPosition(8, y)" width="566" height="8" />
  <svg:rect [attr.x]="calcPosition(36, x)" [attr.y]="calcPosition(550, y)" width="566" height="8" />
  <svg:rect [attr.x]="calcPosition(600, x)" [attr.y]="calcPosition(8, y)" width="8" height="550" />
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(35, y)" width="450" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(55, y)" width="400" height="8"/>
  <svg:rect [attr.x]="calcPosition(66, x)" [attr.y]="calcPosition(85, y)" width="500" height="300"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(410, y)" width="400" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(450, y)" width="350" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(480, y)" width="350" height="8"/>
  <svg:rect [attr.x]="calcPosition(56, x)" [attr.y]="calcPosition(510, y)" width="350" height="8"/>
</ng-template>

<ng-template #columns_1 let-y="y">
  <svg:rect x="30" [attr.y]="calcPosition(8, y)" width="8" height="1050" />
  <svg:rect x="36" [attr.y]="calcPosition(8, y)" width="1166" height="8" />
  <svg:rect x="36" [attr.y]="calcPosition(1050, y)" width="1166" height="8" />
  <svg:rect x="1200" [attr.y]="calcPosition(8, y)" width="8" height="1050" />
  <svg:rect x="76" [attr.y]="calcPosition(45, y)" width="950" height="8"/>
  <svg:rect x="76" [attr.y]="calcPosition(75, y)" width="900" height="8"/>
  <svg:rect x="86" [attr.y]="calcPosition(115, y)" width="1070" height="600"/>
  <svg:rect x="76" [attr.y]="calcPosition(800, y)" width="900" height="8"/>
  <svg:rect x="86" [attr.y]="calcPosition(900, y)" width="800" height="8"/>
  <svg:rect x="86" [attr.y]="calcPosition(940, y)" width="800" height="8"/>
  <svg:rect x="86" [attr.y]="calcPosition(980, y)" width="800" height="8"/>
</ng-template>