<div nxModalContent>
    <div nxLayout="grid">
        <div nxRow>
            <div nxCol="12">
                <ng-container *ngIf="data">
                    <amb-beer-context-actions
                        (editing)="onEditing($event)"
                        (deleting)="onDelete()">
                    </amb-beer-context-actions>
                </ng-container>
            </div>
        </div>
        <div nxRow>
            <div nxCol="6">
                <ng-container *ngIf="isEditing || !data; else isNotEditingImage">
                    <amb-beer-image-upload (file)="onFile($event)"></amb-beer-image-upload>
                </ng-container>
                <ng-template #isNotEditingImage>
                    <figure nxFigure="1by1dot1">
                        <img
                          [src]="data.beer.imageUrl"
                          alt="Beer Image">
                    </figure>
                </ng-template>
            </div>
            <div nxCol="6">
                <form [formGroup]="beerForm">
                    <div
                        *ngFor="let control of beerForm.value | keyvalue: unsorted"
                        nxRow>
                        <div nxCol="12">
                            <ng-container *ngIf="isEditing || !data; else isNotEditing">
                                <nx-formfield>
                                    <input
                                        nxInput
                                        type="text"
                                        [formControlName]="control.key"
                                        [placeholder]="control.key"/>
                                </nx-formfield>
                            </ng-container>
                            <ng-template #isNotEditing>
                                <h1>{{control.value}}</h1>
                            </ng-template>
                        </div>
                    </div>
                </form>
                <ng-container *ngIf="isEditing || !data">
                    <div nxRow>
                        <div nxCol="12">
                            <button
                                nxButton="primary medium"
                                type="button"
                                [style.width.%]="100"
                                (click)="onSave()">
                                Save
                            </button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>