<nx-toolbar class="beer-context-actions">
    <span style="margin-right: auto;"></span>
    <button
        class="nx-margin-bottom-0 nx-margin-right-s"
        nxButton="secondary medium"
        type="button"
        (click)="onEdit()">
        <svg-icon
            class="nx-margin-right-s"
            color="var(--ui-04)"
            fontSize="18px"
            [key]="isEditing ? 'cancel' : 'edit'">
        </svg-icon>
        {{isEditing ? 'Cancel' : 'Edit'}}
    </button>
    <button
        class="nx-margin-bottom-0"
        nxButton="primary medium"
        type="button" >
        <svg-icon
            class="nx-margin-right-s"
            key="bin"
            fontSize="18px">
        </svg-icon>
        Delete
    </button>
</nx-toolbar>