<div
  class="beers-list"
  nxLayout="grid"
  infinite-scroll
  infiniteScrollDistance='2'
  infiniteScrollThrottle='50'
  (scrolled)='onScrolled()'>
  <div
    ambBeerListRenderObserver
    nxRow
    (initialLoad)="onInitialLoad()"
    (renderedMore)="onRenderedMore()">
    <ng-container *ngIf="(nxCol$ | async) as nxCol">
      <div
        *ngFor="let beer of beerState$ | async | select: 'collection'"
        [nxCol]="nxCol">
        <amb-beer-card [beer]="beer"></amb-beer-card>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="isLoadingInitial">
  <amb-spinner
    type=square-jelly-box
    size=large
    fullscreen=true
    message="Fetching your beers...">
  </amb-spinner>
</ng-container>

<ng-container *ngIf="isRendering && !(beerState$ | async | select: 'finished')">
  <amb-spinner type=ball-pulse-sync></amb-spinner>
</ng-container>